
/*****************************/
/*Barra de Navegação Vertical*/
/*Marcando pagina atual*/
/*****************************/

/*/*ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li{	
	padding: 5px 20px;
	background: url(../imagens/seta.png) no-repeat left center;
}*/
/*
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul a{
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;
}

a:hover{
	background-position: right bottom;
	color: #fff;
	background-color: #f99200;
}

#home #navegacao-vertical .home  a{
	background-position: right bottom;
	color: #fff;
	background-color: #f99200;
}
*/
