*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, "Trebuchet MS",sans-serif;
    background: #fff url(../res/bg.png);
    margin: 15px;
}

#container{
    background: #ede9cc url(../res/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}

#topo{
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}

#area-logo{
    position: absolute;
    background: url(../res/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo a{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(../res/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -9000px;
}

#area-menu{
    position: absolute;
    background: url(../res/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    top: 0;
    right: 0;
    z-index: 2;
}

#conteudo-menu{
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}

#menu-locais{
    border-bottom: 1px solid #b5ab56;
    border-top: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color:#8b8448;
}

#menu-locais .locais{
    float: left;
    line-height: 2.1em;
}

a{
    text-decoration: none;
}

a.reserva{
    float: right;
    text-transform: uppercase;
    background: #a29750;
    color: #fff5b0;
    padding: 5px 10px;

}
/*Barra de Navegação vertical*/
#menu{
    margin-top: 15px;
}

ul{
    list-style: none;
}

ul#navegacao{
    float: left;
}

ul#navegacao a:hover{
    background: #fdf6be;
    
}

ul#navegacao a{
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    color: #6e672c;
    line-height: 30px;
}

.depoimento{
    width: 226px;
    height: 164px;
    float: right;
}

/*Area de conteudo*/

#area-principal{
    float:left;
    width: 50%;
    padding: 15px 0;
    background: url(../res/bg-area-principal.png) top left repeat-x;
}

#area-lateral{
    float: right;
    width: 50%;
    background: url(../res/bg-area-lateral.png) top left repeat-x;
    padding: 20px 0;
}

.conteudo{
    margin: 0 auto;
    width: 90%;
}

#rodape{
    clear: both;
    padding: 16px;
    color: #7d7640;
    background: #fff url(../res/bg-rodape.png) repeat-x top;
}

h2{
    color: #7d7640;
    font-size: 1.1em;
    padding: 5px 0px;
}

p{
    font-size: 1em;
    margin-bottom: 10px;
}

#beneficios li{
    padding: 8xp;
    border-bottom: 1px solid #f3efcb;
    height: 6em;
}

#beneficios li a img{
    float: left;
    margin-right: 8px;
}

#beneficios li a p{
    font-size: 0.8em;
    color: #000000;
}

#beneficios li a h3{
    font-size: 1.1em;
    color: #615b2d;
    padding: 5px 0;
    border: 1px solid red;
    background: url(../res/ornamento.png) no-repeat center right;
}

#beneficios li:hover{
    background:#f6f3d6;
    cursor: pointer;
}